  body {
    width: 40%;
  }
  
  #res {
    background-color: lightgray;
    border: solid;
    height: 64px;
    font-size: 36px;
  }
  
  .btn {
    width: 25%;
    height: 36px;
    font-size: 22px;
    margin:0;
    float: left;
  }
  
  .digits {
    background-color: lightgreen;
    color: brown;
  }
  
  .controlRes {
    background-color: darkgreen;
    color: white;
  }
  
  .operands {
    background-color: black;
    color: red;
  }
